.container {
  display: grid;
  grid-template-columns: 3fr 9fr;
  width: 72%;
  @media (max-width: 802px) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &-avatar {
    width: 240px;
    height: 350px;
    border-radius: 4px;
    background-color: darkgray;

    img {
      width: 200px;
      height: auto;
      margin: 20px;
      grid-column: 1;
      @media (max-width: 802px) {
        width: 180px;
      }
    }

    button {
      margin: 0 20px;
      width: 85%;
      border-radius: 0;
      background: #cccccc;
    }
  }

  &-info {
    grid-column: 2;

    &-status {
      margin: 0;
      width: 100px;
      cursor: pointer;
      opacity: .5;

      &-write {
        background-color: #cfcfcf;
        border-radius: 7px;
        padding: 5px;
        width: 630px;

        .input {
          background-color: #f5f5f5;
          border-radius: 7px;
          padding: 5px;
          margin: 5px 10px;
          width: 600px;
        }

        .save-status-btn {
          margin: 5px 10px;
          width: 100px;
          background: #e8e8e8;
        }
      }
    }
  }

  .posts {
    grid-column: 2;
  }
}
